
.ipynb_checkpoints/filelist-checkpoint.txt
.ipynb_checkpoints/Exploring MIRdata-checkpoint.ipynb
.ipynb_checkpoints/misc_tasks-checkpoint.ipynb
.ipynb_checkpoints/Course_Project_Oded_Drori-checkpoint.ipynb
.ipynb_checkpoints/Test_Results-checkpoint.ipynb
.ipynb_checkpoints/readme-checkpoint.md
__pycache__/cqt.cpython-310.pyc
.ipynb_checkpoints/run_cgae_invar-checkpoint.ipynb
*.pyc
*.exe
cgae-invar-like/*
